// .copyright {
// }

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  font-family: $second-font, sans-serif;
  font-size: 16px;
  line-height: 16px;

  color: $grey;

  &:hover .copyright__svg,
  &:focus .copyright__svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

// .copyright__logo {
// }

.copyright__svg {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-top: -2px;
    padding: 0;
  }
}
