// .catalog {

// }

.catalog__list {
  @include list-reset();
}

.catalog__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 25px;

  border-bottom: 1px solid $separator-light;
}

.catalog__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 144px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  padding-left: 140px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  text-transform: uppercase;
}

.catalog__last-text {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;

  text-align: center;
  text-transform: uppercase;
}

.catalog__last-small {
  padding-bottom: 20px;

  font-family: $second-font, sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $grey;

  text-align: center;
}

.catalog__link {
  display: block;
  max-width: 80px;
  color: $almost-black;
}

.catalog__table {
  padding-left: 140px;
  padding-bottom: 22px;

  font-family: $second-font, sans-serif;
  font-size: 12px;
  line-height: 16px;

  color: $grey;
}

.catalog__button {
  text-align: center;
  z-index: 2;
}

.catalog__button-show-all {
  color: $grey;
  background-color: $white-grey-bg;

  text-align: center;
}
