.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright__link {
  margin: 0;
  padding: 0;
  @include arial();
  font-size: 16px;
  line-height: 16px;

  color: $grey;
}

.copyright__logo {
}
