.example {
  padding-top: 20px;
  margin-bottom: 30px;
  background-color: $white-grey-bg;
}

.example__title {
  margin: 0;
  padding: 0;

  padding-bottom: 25px;

  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
}

.example__description {
  margin: 0;
  padding: 0;

  margin-bottom: 25px;

  font-family: $second-font, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: $grey;
}

.example__parameters {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 46px;
}

.example__parameter-wrapper {
  position: relative;
  width: 124px;

  padding-top: 17px;
  padding-bottom: 17px;

  color: $grey;

  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.example__parameter-wrapper:nth-child(2) {
  margin-left: auto;
}

.example__caption {
  display: block;
  position: absolute;
  width: 87px;

  top: 100%;
  left: 50%;

  padding-left: 16px;
  padding-right: 16px;

  font-family: $second-font, sans-serif;
  font-size: 12px;
  line-height: 12px;


  transform: translate(-50%, -35%);

  text-align: center;

  background-color: $white-grey-bg;
}

.example__parameter {
  display: block;
  margin: 0;
  padding: 0;

  font-family: $base-font, $second-font, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  color: $almost-black;

  text-align: center;
  text-transform: uppercase;
}

.example__expenses {
  margin: 0;
  margin-top: 35px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: transparent;
  }

  .example__bg-footer {
    background-color: $white-grey-bg;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 70px;
    padding-bottom: 0;
  }

  .example__description {
    max-width: 680px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
  }

  .example__parameters {
    margin-bottom: 255px;
  }
  .example__parameter-wrapper {
    width: 162px;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .example__parameter-wrapper:nth-child(2) {
    margin-left: 42px;
  }

  .example__parameter {
    font-size: 30px;
    line-height: 37px;
  }

  .example__caption {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    padding-left: 7px;
    padding-right: 7px;

    transform: translate(-50%, -55%);
    background-color: $white;
  }

  .example__expenses {
    width: 180px;
    font-size: 20px;
    line-height: 20px;

    margin-top: 0;
    margin-left: auto;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example__flex-wrapper {
    display: flex;
  }

  .example__bg {
    background-color: $white-grey-bg;
  }
}
