.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.form__subsection {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  margin-bottom: 27px;

  border: none;
  border-bottom: 1px solid $separator-light;
}

.form__subsection-wrapper {
  display: flex;
  flex-direction: column;
}

.form__subsection--contacts,
.form__subsection--comments,
.form__subsection--options {
  margin-bottom: 31px;
  border: none;
}

.form__subsection--options {
  margin-bottom: 0;
}

.form__item {
  display: flex;
  align-items: center;

  margin-bottom: 15px;
}

.form__item:last-child {
  margin-bottom: 23px;
}

.form__item--contacts {
  margin-bottom: 30px;
}

.form__item--contacts:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-right: 16px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__label--program {
  margin-bottom: 25px;
}

.form__label--options {
  margin-bottom: 30px;
}

.form__label--program:first-child {
  margin-top: 27px;
}

.form__input {
  position: relative;
  flex-grow: 1;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;

  font-family: $base-font, $second-font, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: $grey;

  border: 1px solid $separator-light;

  text-transform: uppercase;
}

.form__input--contacts,
.form__input--phone {
  padding-right: 40px;
}

.form__input--contacts {
  background-image: url("../img/icon-mail.svg");
  background-size: 17px 13px;
  background-position: right 16px center;
  background-repeat: no-repeat;
}

.form__input--phone {
  background-image: url("../img/icon-phone.svg");
  background-size: 20px 20px;
  background-position: right 12px center;
  background-repeat: no-repeat;
}

.form__radio {
  margin-right: 16px;
}

.form__title {
  display: flex;
  align-items: center;

  width: 100%;

  margin-bottom: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.form__title::after {
  content: "";

  margin-left: 22px;
  flex-grow: 1;
  flex-shrink: 0;

  width: 25px;
  height: 3px;
  background-color: $light-green;
}

.form__textarea {
  width: 100%;
  margin: 0;
  padding: 13px;

  min-height: 150px;

  font-family: $base-font, $second-font, sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: $grey;
  text-align: left;
  text-transform: uppercase;
}

.form__button {
  margin-bottom: 22px;
  width: 100%;
}

.form__footnote {
  margin: 0;
  padding: 0;

  font-family: $second-font, sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  color: $grey;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 72px;
  }

  .form__subsection {
    margin-bottom: 27px;
    border: none;
  }

  .form__subsection-wrapper {

  }

  .form__subsection-wrapper--options {
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: -100px;
  }

  .form__subsection--personal-data {
    margin-bottom: 70px;
  }

  .form__item--personal-data:last-child {
    margin-bottom: 0;
  }

  .form__subsection--program-type {
    margin-bottom: 80px;
    padding-top: 37px;
    padding-bottom: 37px;
    border: 1px solid $separator-light;
  }

  .form__subsection--contacts {
    margin-bottom: 70px;
  }

  .form__subsection--comments {
    margin-bottom: 70px;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 0;
    text-transform: uppercase;
  }

  .form__label--program {
    margin-bottom: 35px;
    padding-left: 88px;
  }

  .form__label--program:last-child {
    margin-bottom: 0;
  }

  .form__label--options {
    width: 245px;
    margin-left: 100px;
    padding-left: 0;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
  }

  .form__input--contacts {
    background-position: right 20px center;
  }

  .form__input--phone {
    background-position: right 16px center;
  }

  .form__title {
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }

  .form__textarea {
    min-height: 140px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__footer-wrapper {
    display: flex;
    align-items: center;
  }

  .form__button {
    width: 283px;
    margin-bottom: 0;
  }

  .form__footnote {
    margin-left: 60px;
    font-size: 16px;
    line-height: 16px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 76px;
  }

  .form__subsection-wrapper {
    flex-direction: row;
  }

  .form__subsection-wrapper--data {
    justify-content: space-between;
    margin-bottom: 73px;
  }

  .form__subsection-wrapper--options {
    margin-left: -80px;
  }

  .form__subsection--personal-data,
  .form__subsection--program-type {
    width: 570px;
    margin-bottom: 0;
  }

  .form__subsection--program-type {
    padding-top: 35px;
    padding-bottom: 0;
  }

  .form__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__item--contacts {
    width: 570px;
    margin: 0;
  }

  .form__label--program {
    padding-left: 0;
  }

  .form__label--options {
    margin-left: 80px;
  }

  .form__textarea {
    min-height: 175px;
  }

  .form__button {
    width: 570px;
  }

  .form__footnote {
    margin-left: 82px;
  }
}
