.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.form__subsection {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  margin-bottom: 27px;

  border: none;

  &--personal-data,
  &--program-type {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100vw;
      margin-left: -20px;
      border-bottom: 1px solid $separator-light;
    }
  }

  &--contacts,
  &--comments,
  &--options {
    margin-bottom: 31px;
    border: none;
  }

  &--options {
    margin-bottom: 0;
  }
}

.form__subsection-wrapper {
  display: flex;
  flex-direction: column;
}

.form__item {
  display: flex;
  align-items: center;

  margin-bottom: 15px;

  &--options,
  &--program-type {
    display: block;
  }

  &:last-child {
    margin-bottom: 23px;
  }

  &--contacts {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__input {
  position: relative;
  flex-grow: 1;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 15px;

  font-family: $base-font, $second-font, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: $grey;

  border: 1px solid $separator-light;

  text-transform: uppercase;

  &:hover {
    outline: none;
    border-color: #cdcdcd;
  }

  &:focus,
  &:active {
    outline: none;
    border-width: 2px;
    border-color: $grey;
  }

  &:invalid {
    border-width: 2px;
    border-color: #ff8282;
  }

  &--contacts,
  &--phone {
    padding-right: 40px;
  }

  &--contacts {
    background-image: url("../img/icon-mail.svg");
    background-size: 17px 13px;
    background-position: right 16px center;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 20px;
    background-position: right 12px center;
    background-repeat: no-repeat;
  }
}

.form__label {
  margin-right: 16px;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;

  &--program {
    position: relative;
    margin-bottom: 25px;
    padding-left: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: middle;

    &:first-child {
      margin-top: 27px;
    }

    &::before {
      content: "";
      position: absolute;

      width: 30px;
      height: 30px;

      top: 50%;
      left: 0;
      transform: translateY(-50%);

      border-radius: 50%;
      border: 1px solid #cdcdcd;
    }
  }

  &--options {
    padding-left: 60px;
    margin-bottom: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      width: 30px;
      height: 30px;

      top: 50%;
      left: 0;
      transform: translateY(-50%);

      border: 1px solid #cdcdcd;
    }
  }

  &--program,
  &--options {
    &:active {
      opacity: 0.3;
    }
  }
}

.form__checkbox:checked ~ .form__label--options {
  &::after {
    content: "";
    position: absolute;

    width: 15px;
    height: 10px;

    top: 8px;
    left: 8px;

    //transform: translateY(-50%);
    transform-origin: 50% 50%;
    transform: rotate(-45deg);

    border: 3px solid $light-green;
    border-right: none;
    border-top: none;
  }
}

.form__radio {
  margin-right: 16px;
}

.form__radio:checked ~ .form__label--program {
  &::after {
    content: "";
    position: absolute;

    width: 12px;
    height: 12px;

    top: 50%;
    left: 9px;

    transform: translateY(-50%);

    border-radius: 50%;
    background-color: $light-green;
  }
}

.form__title {
  position: relative;
  width: 185px;

  padding: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  &::before,
  &::after {
    content: "";
    position: absolute;

    top: 50%;

    height: 3px;
    background-color: $light-green;
  }

  &::after {
    width: 100vw;
    margin-left: 22px;
  }

  &--contacts {
    &::after {
      margin-left: 52px;
    }
  }
}

.form__textarea {
  width: 100%;
  margin: 0;
  padding: 13px;

  min-height: 150px;

  font-family: $base-font, $second-font, sans-serif;
  font-size: 16px;
  line-height: 18px;

  color: $grey;
  text-align: left;
  text-transform: uppercase;

  border: 1px solid $separator-light;

  &:hover {
    outline: none;
    border-color: #cdcdcd;
  }

  &:focus,
  &:active {
    outline: none;
    border-width: 2px;
    border-color: $grey;
  }
}

.form__button {
  margin-bottom: 22px;
  width: 100%;
}

.form__footnote {
  margin: 0;
  padding: 0;

  font-family: $second-font, sans-serif;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  color: $grey;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 72px;
  }

  .form__subsection {
    margin-bottom: 27px;
    border: none;

    &--personal-data,
    &--program-type {

      &::after {
        width: 0;
      }
    }

    &--personal-data {
      margin-bottom: 70px;
    }

    &--program-type {
      margin-bottom: 80px;
      padding-top: 37px;
      padding-left: 28px;
      padding-bottom: 37px;
      border: 1px solid $separator-light;
    }

    &--contacts {
      margin-bottom: 70px;
    }

    &--comments {
      margin-bottom: 70px;
    }

    &--options {
      margin-bottom: 10px;
    }
  }

  .form__subsection-wrapper {
    &--options {
      flex-direction: row;
      flex-wrap: wrap;

      margin-left: -100px;
    }
  }

  .form__item {
    margin-bottom: 20px;

    &--program-type {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--options {
      width: 245px;
      margin-left: 100px;
      margin-bottom: 55px;
    }

    &--personal-data {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    &--program {
      margin-bottom: 35px;
      padding-top: 5px;
      padding-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        width: 40px;
        height: 40px;
      }
    }

    &--options {
      margin-right: 0;
      padding-top: 5px;
      padding-bottom: 5px;

      &::before {
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
      }
    }
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;

    &--contacts {
      background-position: right 20px center;
    }

    &--phone {
      background-position: right 16px center;
    }
  }

  .form__checkbox:checked ~ .form__label--options {
    &::after {
      width: 25px;
      height: 15px;

      top: calc(#{50%} - 11px);
      left: 8px;
    }
  }

  .form__radio:checked ~ .form__label--program {
    &::after {
      width: 18px;
      height: 18px;

      left: 11px;
    }
  }

  .form__title {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 76px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      transform: translateY(-50%);
    }

    &::before {
      width: 100vw;
      transform: translateX(calc(#{-100vw} - 40px));
    }

    &::after {
      margin-left: 38px;
    }
  }

  .form__textarea {
    min-height: 140px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__footer-wrapper {
    display: flex;
    align-items: center;
  }

  .form__button {
    width: 283px;
    margin-bottom: 0;
  }

  .form__footnote {
    margin-left: 60px;
    font-size: 16px;
    line-height: 16px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 76px;
  }

  .form__subsection-wrapper {
    flex-direction: row;

    &--data {
      justify-content: space-between;
      margin-bottom: 73px;
    }

    &--options {
      margin-left: -80px;
    }
  }

  .form__subsection {
    &--personal-data,
    &--program-type {
      width: 570px;
      margin-bottom: 0;
    }

    &--program-type {
      padding-top: 35px;
      padding-bottom: 17px;
      //padding-bottom: 0;
    }
  }

  .form__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__item {
    &--contacts {
      width: 570px;
      margin: 0;
    }

    &--options {
      margin-left: 80px;
    }
  }

  .form__label {
    &--options {
      margin-left: 80px;
      margin-right: 0;
    }
  }

  .form__textarea {
    min-height: 175px;
  }

  .form__button {
    width: 570px;
  }

  .form__footnote {
    margin-left: 82px;
  }
}
