html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  @include oswald-regular();
  font-size:  14px;
  line-height: 18px;
  font-weight: 400;
  color: $almost-black;
  text-transform: none;

  background: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a { text-decoration: none }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;

  @include oswald-regular();
  font-size:  16px;
  line-height: 20px;

  color: $white;
  background-color: #68b738;
  text-transform: uppercase;
}
