.goods-category__list {
  @include list-reset();
}

.goods-category__item {
  margin-bottom: 20px;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color: $white-grey-bg;
}

.goods-category__title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 70px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;


  color: #111111;
  text-transform: uppercase;
}

.goods-category__title--slim {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: -8px;
    left: 9px;
    width: 35px;
    height: 49px;

    z-index: 2;

    background-image: url("../img/icon-cat-slim.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &::after {
    top: -4px;
    left: 0;

    width: 50px;
    height: 50px;
    background-color: $light-green;
    border-radius: 50%;
  }
}

.goods-category__title--pro {
  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    top: 5px;
    left: -10px;
    width: 67px;
    height: 28px;

    z-index: 2;

    background-image: url("../img/icon-cat-pro.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &::after {
    top: -4px;
    left: 0;

    width: 50px;
    height: 50px;
    background-color: $light-green;
    border-radius: 50%;
  }
}

.goods-category__description {
  margin: 0;
  padding: 0;

  margin-bottom: 20px;
  padding-bottom: 25px;

  font-family: $second-font, sans-serif;
  font-size: 14px;
  line-height: 18px;

  color: $grey;

  border-bottom: 1px solid $separator-grey;
}

.goods-category__button {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 16px;

  color: $almost-black;

  text-transform: uppercase;

  &::after {
    content: "";
    margin-left: 12px;

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    width: 33px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .goods-category {
    margin-bottom: 0;
  }

  .goods-category__list {
    display: flex;
    flex-direction: column;
  }

  .goods-category__item {
    padding-right: 0;
    padding-top: 80px;
    padding-left: 55px;
    padding-bottom: 63px;
    margin-bottom: 30px;
  }

  .goods-category__title {
    font-size: 36px;
    line-height: 37px;
    padding-right: 315px;
    padding-left: 0;
    margin-bottom: 23px;

    &::after {
      top: 10px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }
  }

  .goods-category__title--slim {
    &::before {
      top: 0;
      left: auto;
      right: 92px;
      width: 140px;
      height: 194px;
    }
  }

  .goods-category__title--pro {
    &::before {
      top: 55px;
      left: auto;
      right: 27px;
      width: 268px;
      height: 112px;
    }
  }

  .goods-category__description {
    font-size: 16px;
    line-height: 24px;
    margin-right: 280px;
    padding-bottom: 0;
    margin-bottom: 60px;


    border: none;
  }

  .goods-category__description--pro {
    margin-right: 315px;
  }

  .goods-category__button {
    font-size: 20px;
    line-height: 20px;

    &::after {
      content: "";
      margin-left: 25px;

      width: 24px;
      height: 11px;

      background-image: url("../img/icon-right-arrow-long.svg");
    }
  }
}

@media (min-width: $desktop-width) {
  .goods-category__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .goods-category__item {
    width: 570px;
    padding-right: 55px;
    padding-top: 80px;
    padding-left: 53px;
    padding-bottom: 63px;
    margin-bottom: 80px;
  }

  .goods-category__title {
    padding-right: 0;
    padding-left: 165px;
    margin-bottom: 70px;

    &::after {
      top: 0;
      left: 0;
      right: auto;
      width: 100px;
      height: 100px;

      transform: translate(0, -30%);
    }
  }

  .goods-category__title--slim {
    &::before {
      top: 0;
      left: 14px;
      right: auto;
      width: 70px;
      height: 97px;

      transform: translate(0, -38%);
    }
  }

  .goods-category__title--pro {
    &::before {
      top: 0;
      left: -20px;
      right: auto;
      width: 134px;
      height: 56px;

      transform: translate(0, -15%);
    }
  }

  .goods-category__description {
    margin-right: 0;
    margin-bottom: 34px;
  }
}
