.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  color: $white;

  border-bottom: 1px solid transparent;
}

.intro__container {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.intro__header {
  padding-top: 30px;

  background-color: #63a73a;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.intro__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  text-align: center;
}

.intro__slogan {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;

  text-align: center;

  text-transform: uppercase;
}

.intro__image {
  margin-top: -140px;
  align-self: center;
}

.intro__button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-left: 90px;
    color: $almost-black;
  }

  .intro__header {
    justify-content: flex-start;
    background: none;
    height: auto;
  }

  .intro__title {
    margin-bottom: 45px;
    max-width: 427px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro__slogan {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;

    text-align: left;
  }

  .intro__image {
    margin-top: -80px;
    align-self: flex-start;
  }
  .intro__button {
    z-index: 2;
    order: -1;
    align-self: flex-start;

    padding-left: 26px;
    padding-right: 29px;
  }
}

