.social__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  justify-content: space-between;
  //align-items: center;

  list-style: none;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  display: block;

  // &--vkontakte {
  //   width: 22px;
  //   height: 12px;
  //   background-image: url("../img/icon-vk-mobile.svg");
  //   background-position: 0 0;
  //   background-repeat: no-repeat;
  // }

  // &--instagram {
  //   width: 16px;
  //   height: 16px;

  //   background-image: url("../img/icon-insta-mobile.svg");
  //   background-position: 0 0;
  //   background-repeat: no-repeat;
  // }

  // &--facebook {
  //   width: 10px;
  //   height: 19px;

  //   background-image: url("../img/icon-fb-mobile.svg");
  //   background-position: 0 0;
  //   background-repeat: no-repeat;
  // }
}

.social__svg {
  fill: #231f20;

  &:hover,
  &:focus {
    fill: #68b738;
  }

  &:active {
    fill: #68b738;
    opacity: 0.3;
  }

  &--vk {
    display: none;
    width: 30px;
    height: 16px;
  }

  &--vk-mobile {
    width: 22px;
    height: 12px;
  }

  &--insta {
    display: none;
    width: 23px;
    height: 23px;
  }

  &--insta-mobile {
    width: 16px;
    height: 16px;
  }

  &--fb {
    display: none;
    width: 14px;
    height: 28px;
  }

  &--fb-mobile {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: -1px;
    margin-right: 6px;
  }

  .social__svg {
    &--vk {
      display: block;
    }

    &--vk-mobile {
      display: none;
    }

    &--insta {
      display: block;
    }

    &--insta-mobile {
      display: none;
    }

    &--fb {
      display: block;
    }

    &--fb-mobile {
      display: none;
    }
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }
}
