.social__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  justify-content: space-between;
  align-items: center;


  list-style: none;
}

.social__link {
  display: block;
}

.social__link--vkontakte {
  width: 22px;
  height: 12px;

  background-image: url("../img/icon-vk-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__link--instagram {
  width: 16px;
  height: 16px;

  background-image: url("../img/icon-insta-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social__link--facebook {
  width: 10px;
  height: 19px;

  background-image: url("../img/icon-fb-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .social__list {
    margin-top: -1px;
    margin-right: 6px;
  }

  .social__link--vkontakte {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook {
    width: 14px;
    height: 28px;
  }
}
