// color variables ====================
$white: #ffffff;
$almost-black: #111111;
$grey: #444444;
$white-grey-bg: #f2f2f2;
$separator-light: #e6e6e6;
$separator-grey: #d9d9d9;
$light-green: #68b738;

// font variables
$base-font: "Oswald";
$second-font: "Arial";

// devices width
$tablet-width: 768px;
$desktop-width: 1440px;
